<div class="row">
	<div class="col-md-6">
	  	
	  	<div class="panel panel-primary">
			<div class="panel-heading">
	    		<h3 class="panel-title">Players <a href="/api/players/">[ Manage ]</a></h3>
	  		</div>
			<div class="panel-body">
				<ul ng-repeat="item in players" class="nav nav-pills nav-stacked">
					<li ng-hide="players.length">No Players Loaded</li>
					
					<li ng-class="{active: item.id==selectedPlayer}">
						<a ng-click="selectItem(item.id, 'Player')" href="javascript:">{{item.hostname}}</a>
					</li>
				</ul>
			</div>
		</div>
  	
  	</div>
  	
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
	    		<h3 class="panel-title">Play Calls <a href="/api/playcalls/" class="alt">[ Manage ]</a></h3>
	  		</div>
			<div class="panel-body">
				<ul ng-repeat="item in playcalls" class="nav nav-pills nav-stacked">
					<li ng-hide="playcalls.length">No Play Calls Loaded</li>
					
					<li ng-class="{active: item.id==selectedPlayCall}"
						ng-click="selectItem(item.id, 'PlayCall', item.options)"><a href="javascript:">{{item.title}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
	    		<h3 class="panel-title">Play Execution <span app-version></span></h3>
	  		</div>
			<div class="panel-body">
				<span ng-hide="canExecute">Be sure to select your player and call above.</span>
				
				<div id="playbook-options" ng-show="options">
					<h3>Call Options: <span class="small">(aka ansible variables)</span></h3>
					
					<h6>The following variables will be passed to your Play Call. Please provide values.</h6>
					
					<div class="input-group" ng-repeat="item in options">
						<span class="input-group-addon">{{ item.name }}</span>
						<input type="text" class="form-control" ng-model="item.supplied_value"/>
					</div>
					
				</div>
				
				<h3>
					Ready? 
					<span class="label label-danger go-button" 
						ng-class="{executing: isExecuting}"
						ng-show="canExecute"
						ng-click="execute()">Go</span>
				</h3>
				
				<div id="playbook-output">
					<loading-indicator is-executing="isExecuting"></loading-indicator>
					<playbook-output playbook-output="playbookOutput"></loading-indicator>
				</div>
				
			</div>
		</div>
	
	</div>
</div>
	
	