<div class="row">
	<div class="col-md-6">
	  	
	  	<div class="panel panel-primary">
			<div class="panel-heading">
	    		<h3 class="panel-title">Hosts <a href="/api/hosts/">[ Manage ]</a></h3>
	  		</div>
			<div class="panel-body">
				<ul ng-repeat="item in hosts" class="nav nav-pills nav-stacked">
					<li ng-hide="hosts.length">No Hosts Loaded</li>
					
					<li ng-class="{active: item.id==selectedHost}">
						<a ng-click="selectItem(item.id, 'Host')" href="javascript:">{{item.hostname}}</a>
					</li>
				</ul>
			</div>
		</div>
  	
  	</div>
  	
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
	    		<h3 class="panel-title">Playbooks <a href="/api/playbooks/" class="alt">[ Manage ]</a></h3>
	  		</div>
			<div class="panel-body">
				<ul ng-repeat="item in playbooks" class="nav nav-pills nav-stacked">
					<li ng-hide="playbooks.length">No Playbooks Loaded</li>
					
					<li ng-class="{active: item.id==selectedPlaybook}"
						ng-click="selectItem(item.id, 'Playbook', item.variables)"><a href="javascript:">{{item.title}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
	    		<h3 class="panel-title">Play Execution <span app-version></span></h3>
	  		</div>
			<div class="panel-body">
				<span ng-hide="canExecute">Be sure to select your host and playbook above.</span>
				
				<div id="playbook-variables" ng-show="variables">
					<h3>Playbook Variables: <span class="small">(passed via ansible extra-vars)</span></h3>
					
					<h6>The following variables will be passed to your Playbook. Please provide values.</h6>
					
					<div class="input-group" ng-repeat="item in variables">
						<span class="input-group-addon">{{ item.name }}</span>
						<input type="text" class="form-control" ng-model="item.supplied_value"/>
					</div>
					
				</div>
				
				<h3>
					Ready? 
					<span class="label label-danger go-button" 
						ng-class="{executing: isExecuting}"
						ng-show="canExecute"
						ng-click="execute()">Go</span>
				</h3>
				
				<div id="playbook-output">
					<loading-indicator is-executing="isExecuting"></loading-indicator>
					<playbook-output playbook-output="playbookOutput"></loading-indicator>
				</div>
				
			</div>
		</div>
	
	</div>
</div>
	
	